body {
    background-image: url("https://cdn.dribbble.com/userupload/21703438/file/original-e39a6bf69a6f911c4a5a718daef83afc.png?resize=752x564&vertical=center");
    background-size: cover;
    font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#homeScore-el {
    background: #000000;
    font-size: 90px;
    color: #ce1141;
    width: 120px;
    margin: 20px;
    border-radius: 8px;
}

#guestScore-el {
    background: #006bb6;
    font-size: 90px;
    color: #f58426;
    width: 120px;
    margin: 20px;
    border-radius: 8px;
}

h3 {
    font-size: 16px;
    line-height: 16px;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    border-radius: 4px;
    margin: 0 2px;
}